body {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    color: #434455;
    background-color: #ffffff;  
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

ul, li {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
    white-space: nowrap;
    clip-path: inset(100%);
}

.container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
   }

   @media screen and (min-width: 768px) {
   .container{
   max-width: 768px;
   background-color: blueviolet;
   }
   }

   @media screen and (min-width: 1158px) {
   .container {
   max-width: 1158px;
   padding: 0 15px;
   background-color: coral;
   }
   }

   .header-body {
     border-bottom: 1px solid #e7e9fc;
   }
   .container-header-menu {
     display: flex;
     align-items: center;
     justify-content: space-between;
   }
   .nav-tittle {
     display: flex;
     align-items: center;
   }
   .logo {
     color: #4d5ae5;
     font-family: Raleway, sans-serif;
     font-size: 18px;
     font-weight: 700;
     line-height: 1.17;
     letter-spacing: 0.03em;
     text-transform: uppercase;
     padding: 17px 0;
   }
   .logo-studio {
     color: #2e2f42;
   }
   .ul-header-menu {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
   }
   .address-main {
     margin-left: auto;
     display: none;
   }
   .open-menu-btn {
   padding: 0;
   line-height: 0;
   background-color: transparent;
   cursor: pointer;
   border: none;
   }



   @media screen and (min-width: 1158px) {
   .logo {
   margin-right: 76px;
   }
   .address-list {
     flex-direction: row;
     gap: 40px;
   }
     .address-link {
       font-size: 16px;
       line-height: 1.5;
     }
   }
   /* modal */
   .backdrop {
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background-color: rgba(46, 47, 66, 0.4);
     opacity: 0;
     visibility: hidden;
     position: none;
     transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
   }
   .is-open {
   opacity: 1;
   visibility: visible;
   pointer-events: auto;
   }
   .modal {
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%) scale(1);
     width: 408px;
     min-height: 584px;
     background-color: #fcfcfc;
     border-radius: 4px;
     transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
   }
   .button-close {
     position: absolute;
     top: 24px;
     right: 24px;
     width: 24px;
     height: 24px;
     border-radius: 50%;
     padding: 0;
     cursor: pointer;
     border: 1px solid rgba(0, 0, 0, 0.1);
     background-color: #e7e9fc;
     display: flex;
     justify-content: center;
     align-items: center;
     transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
   }
   .button-close:hover,
   .button-close:focus {
     background-color: #404bbf;
     border: none;
   }
   .icon-close {
   transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
   }
   .button-close:hover > .icon-close,
   .button-close:focus > .icon-close {
     fill: #ffffff;
   }

   /* Першая секція */

.section-one {
    background-color: #2E2F42;
    padding:  72px 0; 
}

.overlay {
    max-width: 320px;
    height: 432px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),   rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
} 

.h-main {
    color: #ffffff;
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.02em;
    max-width: 288px; 
    text-align: center;
    margin: 0 auto;
}

.container-effective {
    width: 432px;
}

.main-button {
  font-family: "Roboto", sans-serif;
  margin: 0 auto;
  font-weight: 500;    
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  display: block;
  min-width: 169px;
  height: 56px; 
  border: none;
  border-radius: 4px;
  margin-top: 72px;  
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


 /* друга секція  */

 .section-principles {
  color: #8E8F99;
  padding: 96px 0;
}

.ul-section-approach {
  background-color: #FFFFFF;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.apporoach-content {
  max-width: 288px;

}

.apporoach-tittle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  margin-bottom: 8px;
  letter-spacing: 0.02em;
  text-align: center;
}

.icon-apporoach {
  display: none;
}

.content {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 72px;
}

.approach-content:last-child {
  margin-bottom: 96px;
}

/* третя секція Our Team */

.section-team {
  background-color: #F4F4FD;
  color: #2E2F42;
  padding-bottom: 96px;
}

.h-main-two {
  color: #2E2F42;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 72px;
  padding-top: 96px;
}

.tittle-list-team {
  text-align: center;
  margin-bottom: 8px;
  max-width: 264px;
}

.list-team {
  border-radius: 0px 0px 4px 4px;
  background: #FFF;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.autor{
  padding: 32px 0 32px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  background: #FFF;
  margin-bottom: 72px;
}

.h-for-team {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.p-team-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  margin-bottom: 8px;
}

.social-links-autor{
  display: flex;
  gap: 24px;
  background-repeat: no-repeat;
  background-color: none;
  justify-content: center;
  align-items: center;
}

.li-autor {
  width: 40px;
  height: 40px;
  background-color:#4d5ae5;
  border-radius:50%;
  display: flex;
  align-items: center; 
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.li-autor:hover,.li-autor:focus{
  background-color: #404bbf; 
}

.background-social-network {
  fill: #4d5ae5;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
  height: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  }
  .background-social-network:hover,
.background-social-network:focus {
  background-color: #404bbf;
  fill: #404bbf;
}

 .social-link {
    fill:#f4f4fd;
 }

 /* четверта секція Our Portfolio */

 .section-portfolio {
  font-weight: 500;
  color: #8E8F99;
  padding-bottom: 120px; 
}

.ul-section-portfolio {
  color: #2e2f42;
}

.li-portfolio {
  margin-bottom: 48px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}

.li-portfolio:hover{
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* синій текст замість картинки в 4 секції */
.portfolio-cover-wrap{
  position: relative;
  overflow: hidden;
}

.portfolio-text-wrap {
  position: absolute;
  top: 0;
  background-color: #4d5ae5;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-cover-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
}

.li-portfolio:hover .portfolio-text-wrap{
  transform: translateY(0%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-content {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  box-shadow: none;
}

.portfolio-content:hover {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.h-for-prtfolio {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.p-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transform: none;
}

.p-text:hover {
  transform:  translateY(0%);
}

/* Футер */

.footer-section {
  color: #8e8f99;
  background-color:#2E2F42;
  padding: 96px 0;
}

.footer-info{
  text-align: center;
}

.footer-logo {
  width: 264px;
}

.footer-text {
  color: #F4F4FD;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;  
  max-width: 288px;
  margin-top: 17.5px;
  margin-bottom: 72px;
  text-align: start;
}

.footer-media {
  color: #FFF;
  font-weight: 500;
  margin-bottom: 16px;
}

.logo-studio-fooler {
  color: #f4f4fd;
  display: inline-block;
  margin-bottom: 16px;
  text-align: center;
}

.social-footer-li{
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-panel{
  display: flex;
  gap: 16px;
  background-repeat: no-repeat;
  background-color: none;
  justify-content: center;
  align-items: center;
  margin-bottom: 72px;
}

.li-footer{
  width: 40px;
  height: 40px;
  border-radius:50%;
  display: flex;
  align-items: center; 
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.background-sn-footer{
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #4d5ae5;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.background-sn-footer:hover,
.background-sn-footer:focus {
background-color: #31d0aa;
}

.social-link-footer {
  width: 100%;
  height: 100%;
  border-radius:50%;
  display: flex;
  align-items: center; 
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.subscribe {
  padding-left: 94px;
  color: var(--primary-white-color);
  text-transform: uppercase;
}

.icon-send {
  margin-left: 10px;
  color: #FFFFFF;
}

.button-subscribe {
  display: inline-flex;
  border-radius: 4px;
  padding: 8px 24px;
  align-self: center;
  justify-content: center;
  color: #FFF;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em; 
  background: #4D5AE5;
}

.conteiner-form {

}

.subscribe-text {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.form-subscribe {
  display: inline-block;
}

.input-label-subscribe{
  width: 264px;
  height: 40px;
  padding-left: 16px;
  border: 1px solid #ffffff;
  opacity: 0.3;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
  margin-bottom: 16px;
}
.input-label-subscribe::placeholder {
  color: #ffffff;
}
.button-subscribe {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4D5AE5;
  border: none;
  border-radius: 4px;
  margin: 0 auto;
}

.icon-send {
  margin-left: 16px;
}

/* Модальне вікно */

.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), 
  visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  width: 408px;
  min-height: 584px;
  background-color: #FCFCFC;
  border-radius: 4px;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 
  0px 1px 3px 0px rgba(0, 0, 0, 0.12), 
  0px 2px 1px 0px rgba(0, 0, 0, 0.20);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}

.button-close {
  margin-left: auto;
  position: absolute;
  top: 24px;
  right: 24px;
  padding: 0;
  border-radius: 50%;
  cursor: pointer;
  color: currentColor;
  width: 24px;
  height: 24px;
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-close:hover, .button-close:focus {
  background-color: #404BBF;
  border: none;
  fill: #ffffff;
}

.icon-close {
  background-color: none;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.left-data {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
  max-width: 360px;
  color: #2E2F42;
}

.modal-label{
  display: block; 
  margin-bottom: 4px;
  color: #8E8F99;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.04em;
  line-height: 1.17;
}

.label-comment {
  margin-bottom: 16px;
}

.modal-input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.40);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: transparent;
  outline: transparent;
  padding-left: 38px;
}

.modal-input:focus {
  border-color: #4D5AE5;
}

.modal-input:focus + .modal-icon {
  stroke: #4D5AE5;
  fill: #4D5AE5;
}

.modal-comment {
  margin-bottom: 16px;
}

.modal-field {
  margin-bottom: 8px;
}

.modal-icon {
  stroke: #2E2F42;
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input-wrap {
  position: relative;
}

.modal-text {
  color: rgba(46, 47, 66, 0.4); 
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  width: 100%;
  height: 120px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.40);
  background-color: transparent;
  outline: transparent;
  padding: 8px 16px;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-text:focus {
border-color: #4D5AE5;
}

.check-privacy {
  margin-bottom: 24px; 
}

.privacy-label {
  color: #8E8F99;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.icon-span {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}
.privacy-label {
  display: inline-block;
  cursor: pointer;
}

.check-privacy input[type="checkbox"]:not(:checked) + label .icon-span {
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  fill: transparent;
}

.check-privacy input[type="checkbox"]:checked + label .icon-span {
  border: none;
  background-color: #404bbf;
  fill: #F4F4FD;
}
 .conditions_link{
  color: #4d5ae5;
 }

.button-sent {
  display: block; 
  min-width: 169px;
  height: 56px;
  padding: 16px 32px;
  cursor: pointer;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 4px;
  border: none;
  background-color: #4D5AE5;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 24px;
}

.button-sent:hover,  .button-sent:focus{
  fill: #ffffff;
}