
/** mobile All  x 320px ***/
@media screen and (min-width: 320px) {
  .container {
    max-width: 320px;
  }

  @media screen and (min-device-pixel-ratio: 2),  (min-resolution: 2dppx), (min-resolution: 192dpi) {
    .overlay {
      background-image: linear-gradient(rgba(46, 47, 66, 0.7),   
      rgba(46, 47, 66, 0.7)),
      url(../images/people-office-mob.jpg),
      url(../images/people-office-mob-2x.jpg),
    } 
  }

  .apporoach-content {
    max-width: 288px;
  }







}




/** IPAD x 768px ***/
  @media screen and (min-width:768px) {
    .container {
      max-width: 768px;
      background-color:blueviolet;
    }

    .ul-header-menu {
      background-color: #FFFFFF;
      letter-spacing: 0.02em;
      color: #2e2f42;
      display: flex;
      justify-content: start;
      align-items: center;
      gap: 40px;
      color: #404bbf;
    }

    .address-main {
      margin-left: auto;
      display: block;
    }

    .mob-menu {
      display: none;
    }

    .open-menu-btn {
      display: none;
    }

    .logo {
      margin-right: 120px;
    }
    
   .container-header-menu {
      height: 72px;
      display: flex;
      justify-content: space-between;
    }

    .section-principles {
      display: flex;
    }

    .apporoach-content {
       margin-right: 24px; 
       max-width: calc((100% - 56px) / 2);
    }

    .section-team {
      background-color: #F4F4FD;
      font-weight: 500;
      color: #8E8F99;
      min-height:732px;
      flex-shrink: 0;
      padding-bottom: 120px;
    }

    .ul-section-address {
      background-color: #FFFFFF;
      letter-spacing: 0.02em;
      color: #2e2f42;
    }

    .section-one {
      padding: 112px 0; 
    }

   .h-main {
    font-size: 56px;
    max-width: 496px; 
   }
  
    .overlay {
    max-width: 768px;
    height: 436px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),   
    rgba(46, 47, 66, 0.7)),
    url(../images/people-office-tab.jpg);
    }

     @media screen and (min-device-pixel-ratio: 2), (min-resolution: 2dppx), (min-resolution: 192dpi) {
          .overlay {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7),   
            rgba(46, 47, 66, 0.7)),
            url(../images/people-office-tab.jpg),
            url(../images/people-office-tab-2x.jpg),
          } 
     }

  .ul-section-approach {
    display: flex;
    flex-wrap: wrap;
    }

  .tittle-list-team {
    display: flex; 
    gap: 24px
  }

  .ul-section-portfolio {
    display: flex;
    flex-wrap: wrap;
    gap: 24px; 
    justify-content: center;
  }

  .content {
    font-weight: 500;
    margin-bottom: 0;
  }

  .autor {  
    margin-bottom:0;
  }

  .footer-text {
    max-width: 264px;
  }

  .logo-studio-fooler {
    margin-bottom: 16px;
  }

  .footer-info{
    display: flex;
    align-items: baseline;
  }

  .footer-logo {
    margin-right: 120px;
  }

  .form-subscribe {
    display: flex;
  }

  .subscribe-text {
    display: flex;
  }

  .footer-media {
    display: flex;
  }

  .input-label-subscribe {
   margin-right: 24px;
   }

   .modal {
    width: 408px;
    min-height: 584px;
  }

    .conteiner-form {
      margin-left: 80px;
  }
 





}





 /* Стилі для планшета тут */

@media screen and (min-width: 768px) and (max-width: 1157px) {
 
  .apporoach-content:not(:nth-last-child(-n+2)) {
    margin-bottom: 72px;
  }

  .list-team:not(:nth-last-child(-n+2)) {
    margin-bottom: 64px;
  }

  .tittle-list-team {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
 
  .footer-info{
    width: 768px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .input-label-subscribe {
    margin-bottom: 0;
    }

    .footer-logo {
      margin-right: 24px;
      text-align: start;
    }

    .li-portfolio {
      width: calc(50% - 56px);
    }

    .conteiner-form {
      margin: 0 auto;
  }

}









/** DESCTOP   ***/
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    background-color:coral;
    padding: 0 15px;
  }

  .header {
    border-bottom: 1px solid #e7e9fc;
  }

  .logo {
    color: #4d5ae5;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    padding: 17px 0;
  }

  .logo-studio {
    color: #2e2f42;
  }

  .nav-tittle {
    display: flex;
    align-items: center;
  }

  .address-main {
    margin-left: auto;
    display: flex;
  }

  .address-list {
      flex-direction: row;
      gap: 40px;
  }

  .ul-section-address {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 40px;
  }

  .address-link {
     font-size: 16px;
    line-height: 1.5;
  }   

  .section-one {
    padding: 188px 0; 
  }

  .overlay {
    max-width: 1440px;
    height: 600px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),   
    rgba(46, 47, 66, 0.7)),
    url(../images/people-office.jpg);
  }

    @media screen and (min-device-pixel-ratio: 2), (min-resolution: 2dppx), (min-resolution: 192dpi) {
        .overlay {
          background-image: linear-gradient(rgba(46, 47, 66, 0.7),   
          rgba(46, 47, 66, 0.7)),
          url(../images/people-office.jpg),
          url(../images/people-office-2x.jpg),
        }
    } 

  .apporoach-content {
    width: calc((100% - 264px) / 3);
    flex-wrap: nowrap;
  }

  .apporoach-content:last-child {
    margin-right: 0;
}

.ul-section-approach {
  flex-wrap: nowrap;
}

  .icon-apporoach {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8E8F99;
    margin-bottom: 8px;
  }

  .apporoach-tittle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }

  .section-principles {
    padding: 120px 0;
  }
 


}
