
/** mobile All  x 320px ***/
@media screen and (min-width: 320px) {
  .container {
    max-width: 320px;
 
  }

  @media screen and (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .overlay {
      background-image: linear-gradient(rgba(46, 47, 66, 0.7),   
      rgba(46, 47, 66, 0.7)),
      url(../images/people-office-mob-2x.jpg);
    } 
  }

  .privacy-chekbox {
    display: flex;
  }
  
  .privacy-terms {
    color: #8E8F99;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.04em;
  }

  .chekbox {
    display: flex;
    align-items: center;
  }

  .icon-span {
    margin-right: 8px;
  }


}

/** ONLY mobile  x 320px ***/
@media screen and (min-width: 320px) and (max-width: 767px) {
  .list-team:last-child {
    margin-bottom: 0px;
  }

  .button-subscribe {
    margin-top: 16px;
  }

  .footer-social {
    margin-bottom: 72px;
  }

}







/** IPAD x 768px ***/
  @media screen and (min-width:768px) {
    .container {
      max-width: 768px;
    }

    .ul-header-menu {
      background-color: #FFFFFF;
      letter-spacing: 0.02em;
      color: #2e2f42;
      display: flex;
      justify-content: start;
      align-items: center;
      gap: 40px;
      color: #404bbf;
    }

    .address-main {
      margin-left: auto;
      display: block;
    }

    .mob-menu {
      display: none;
    }

    .open-menu-btn {
      display: none;
    }

    .logo {
      margin-right: 120px;
    }
    
   .container-header-menu {
      height: 72px;
      display: flex;
      justify-content: space-between;
    }

    .section-principles {
      display: flex;
    }

    .apporoach-content { 
       max-width: calc((100% - 24px) / 2);
    }

    .section-team {
      background-color: #F4F4FD;
      font-weight: 500;
      color: #8E8F99;
      min-height:732px;
      flex-shrink: 0;
      padding-bottom: 120px;
    }

    .section-one {
      padding: 112px 0; 
    }

   .h-main {
    font-size: 56px;
    max-width: 496px; 
   }
  
    .overlay {
    max-width: 768px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),   
    rgba(46, 47, 66, 0.7)),
    url(../images/people-office-tab.jpg);
    }

    @media screen and (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      .overlay {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
          url(../images/people-office-tab-2x.jpg);
      }
    }
    

  .ul-section-approach {
    display: flex;
    flex-wrap: wrap;
    gap: 72px 24px;
    }
  
  .tittle-list-team {
    max-width: 100%;
    display: flex;
    gap: 64px 24px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .ul-section-portfolio {
    display: flex;
    flex-wrap: wrap;
    gap: 72px 24px; 
    justify-content: center;
  }

  .content {
    font-weight: 500;
    margin-bottom: 0;
  }

  .autor {  
    margin-bottom:0;
  }

  .logo-studio-fooler {
    margin-bottom: 16px;
  }

  .footer-info{
    display: flex;
    align-items: baseline;
  }

  .footer-logo {
    margin-right: 120px;
    text-align: start;
  }

  .form-subscribe {
    display: flex;
  }

  .subscribe-text {
    display: flex;
  }

  .footer-media {
    display: flex;
  }

   .modal {
    width: 408px;
    min-height: 584px;
  }

    .conteiner-form {
      margin-left: 80px;
  }

  .footer-text {
    max-width: 264px;
  }

  .label-subscribe {
    margin-right: 24px;
  }

}







 /* Стилі для планшета тут */

@media screen and (min-width: 768px) and (max-width: 1157px) {
 
  .section-one {
    padding:  112px 0; 
  }
 
  .footer-info {
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-left: 108px;
  }

  .input-label-subscribe {
    margin-bottom: 0;
    width: 264px;
    }

    .conteiner-form {
      margin: 0;
    }

  .footer-logo {
    margin-right: 24px;
  }

  .ul-section-address {
    display: flex;
    flex-direction: column;
    gap: 12px;
    background-color: #FFFFFF;
    letter-spacing: 0.02em;
    color: #2e2f42;
  }

}



/** DESCTOP   ***/
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }

  .header {
    border-bottom: 1px solid #e7e9fc;
  }

  .logo {
    color: #4d5ae5;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    padding: 17px 0;
  }

  .logo-studio {
    color: #2e2f42;
  }

  .adress-info {
    font-size: 16px;
  }

  .section-one {
    padding:  188px 0; 
  }

  .nav-tittle {
    display: flex;
    align-items: center;
  }

  .address-main {
    margin-left: auto;
    display: flex;
  }

  .address-list {
      flex-direction: row;
      gap: 40px;
  }

  .ul-section-address {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 40px;
  }

  .address-link {
     font-size: 16px;
    line-height: 1.5;
  }   

  .section-one {
    padding: 188px 0; 
  }

  .overlay {
    max-width: 1440px;
    height: 600px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),   
    rgba(46, 47, 66, 0.7)),
    url(../images/people-office.jpg);
  }

    @media screen and (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        .overlay {
          background-image: linear-gradient(rgba(46, 47, 66, 0.7),   
          rgba(46, 47, 66, 0.7)),
          url(../images/people-office-2x.jpg);
        }
    } 

  .ul-section-approach {
    flex-wrap: nowrap;
  }

  .icon-apporoach {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8E8F99;
    margin-bottom: 8px;
  }

  .apporoach-tittle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }

  .ul-section-portfolio {
    gap: 48px 24px; 
  }

  .section-principles {
    padding: 120px 0;
  }


  .footer-logo {
    margin-bottom: 0;
  }


} 
