@media screen and (min-width: 320px) {
    .container {
      max-width: 320px;
      background-color: aqua;
    }
  }

  @media screen and (min-width: 768px) {
    .container {
      max-width: 768px;
      background-color:blueviolet;
    }
  }


  @media screen and (min-width: 1158px) {
    .container {
      max-width: 1158px;
      background-color:coral;
      padding: 0 15px;
    }
  }

